{
    // Configuration for JavaScript files
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": ["airbnb-base", "plugin:prettier/recommended"],
    "rules": {
        "import/no-unresolved": "off",
        "import/extensions": "off",
        "import/prefer-default-export": "off",
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "semi": true
            }
        ]
    },
    "overrides": [
        // Configuration for TypeScript files
        {
            "files": ["**/src/*.ts", "**/src/*.tsx"],
            "plugins": ["@typescript-eslint", "unused-imports"],
            "extends": ["airbnb-typescript", "plugin:prettier/recommended"],
            "parserOptions": {
                "project": "./tsconfig.json"
            },
            "rules": {
                "prettier/prettier": [
                    "error",
                    {
                        "singleQuote": true,
                        "semi": true
                    }
                ],
                "import/order": [
                    "error",
                    {
                        "groups": ["builtin", "external", "internal"],
                        "newlines-between": "always",
                        "alphabetize": {
                            "order": "asc",
                            "caseInsensitive": true
                        }
                    }
                ],
                "@typescript-eslint/comma-dangle": "off", // Avoid conflict rule between Eslint and Prettier
                "import/prefer-default-export": "off", // Named export is easier to refactor automatically
                "class-methods-use-this": "off", // _document.tsx use render method without `this` keyword
                "react/jsx-filename-extension": "off",
                "no-restricted-syntax": "off",
                "unused-imports/no-unused-imports": "error",
                "unused-imports/no-unused-vars": [
                    "error",
                    { "argsIgnorePattern": "^_" }
                ]
            }
        }
    ]
}
